@import '../../../variables.scss';
@import '../../../mixins.scss';

.button {
  color: $colorBlack;
  padding: 3px 5px;
  border-radius: 5px;
  border: 1px solid $colorBlack;

  &:hover {
    background-color: colorBlack;
    color: $colorWhite;
  }

  &:disabled {
    color: $colorLightGrey;
    border-color: $colorLightGrey;
  }
}

.button.blue,
.button.orange {
  padding: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .place {
    padding: 3px 5px;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    transition: all 0.1s;
  }

  .place span {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 6px;
  }

  .place:after {
    position: absolute;
    border-radius: 3px;
    content: '';
    top: 0;
    width: 0;
    height: 100%;
    background: $colorPrimary;
    transition: all 0.1s;
  }

  .place:hover {
    color: #fff;
  }

  .place:hover:after {
    width: 100%;
  }
}

.button.blue {
  color: $colorPrimary;
  border-color: $colorPrimary;

  .place:after {
    background: $colorPrimary;
    right: 0;
  }

  &:active .place:after {
    background-color: $colorLightPrimary;
  }
}

.button.orange {
  color: $colorOrange;
  border-color: $colorOrange;

  .place:after {
    background: $colorOrange;
    left: 0;
  }

  &:active .place:after {
    background-color: $colorDarkOrange;
  }
}

.button.bluePull,
.button.orangePull {
  transition: all 0.4s;
  color: $colorWhite;
  border-color: $colorPrimary;
  background-color: $colorPrimary;
  letter-spacing: 1px;

  &:hover {
    background-color: $colorLightPrimary;
    border-color: colorLightPrimary;

    transform: translateY(1px);
  }

  &:active {
    background-color: $colorWhite;
  }
}

.button.bluePull {
  border-color: $colorPrimary;
  background-color: $colorPrimary;

  &:hover {
    background-color: $colorLightPrimary;
    border-color: colorLightPrimary;
  }

  &:active {
    color: $colorPrimary;
    background-color: $colorWhite;
  }
}

.button.orangePull {
  border-color: $colorOrange;
  background-color: $colorOrange;

  &:hover {
    background-color: $colorDarkOrange;
    border-color: colorDarkOrange;
  }

  &:active {
    color: $colorOrange;
    background-color: $colorWhite;
  }
}
