@import '../../../mixins.scss';

.iconButton {
  @include flex-center;
  width: 30px;
  height: 30px;
  color: $colorBlack;
  border-radius: 5px;
  border: 1px solid $colorBlack;

  &:hover {
    background-color: colorBlack;
    color: $colorWhite;
  }
}

.button.blue {
  color: $colorPrimary;
  border-color: $colorPrimary;
}
