@import '../../../../variables.scss';
@import '../../../../mixins.scss';

.mobileCartButton {
  @include flex-center;
  display: none;
  transition: all 0.2s;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: $colorOrange;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 40px;
  box-shadow: 0 2px 5px 0 black;
  z-index: 15;
  cursor: pointer;

  &:hover {
    background-color: $colorDarkOrange;
    box-shadow: 0 1px 3px 0 rgb(37, 37, 37);
  }

  i {
    font-size: 1.4rem;
    color: $colorWhite !important;
  }

  .cartCounter {
    background-color: $colorWhite;
    border: 1px solid $colorOrange;
    color: $colorOrange;
    font-size: 0.75rem;
    border-radius: 50%;
    height: 23px;
    width: 23px;
  }
}

@media screen and (max-width: 730px) {
  .mobileCartButton {
    display: flex;
  }
}
