.imgSlider {
  padding: 20px 0px;
  width: 100%;

  i {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $colorWhite;
    font-size: 2rem;
  }

  img {
    border-radius: 10px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1260px) {
  .imgSlider {
    i {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 980px) {
  .imgSlider {
    i {
      font-size: 1.6rem;
    }
  }
}

@media screen and (max-width: 730px) {
  .imgSlider {
    padding: 0px;
    width: 100%;

    i {
      position: absolute;
      color: $colorWhite;
      font-size: 1.4rem;
    }

    img {
      border-radius: 0px;
    }
  }
}
