@import '../../variables.scss';
@import '../../mixins.scss';

.productSlider {
  max-width: 1300px;
  width: 100%;
  padding: 10px 20px;
  padding-bottom: 30px;

  i {
    color: rgb(84, 84, 84);
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 556px) {
  .productSlider {
    max-width: 1300px;
    width: 100%;
    padding: 20px;
    padding-bottom: 30px;

    i {
      color: $colorBlack;
      font-size: 1.1rem;
    }
  }
}

@media screen and (min-width: 730px) {
  .productSlider {
    padding-top: 20px;
  }
}
