@import '../variables.scss';
@import '../mixins.scss';

.slider,
.categoriesSlider {
  @include flex-center;
}

.categoriesSlider {
  // padding-bottom: 15px;
}

.mainLanding {
  @include flex-center;
  flex-direction: column;

  .width {
    max-width: 1300px;
    width: 100%;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 0;
  }

  .title {
    padding-top: 15px;

    h2 {
      font-size: 1.2rem;
    }
  }
}

// @media screen and (max-width: 1050px) {
//   .mainLanding {
//     .title {
//       padding-top: 15px;

//       h2 {
//         font-size: 1.5rem;
//       }
//     }

//     .width {
//       // padding-bottom: 15px;
//     }
//   }
// }

// @media screen and (max-width: 800px) {
//   .mainLanding {
//     .title {
//       padding-top: 13px;

//       h2 {
//         font-size: 1.4rem;
//       }
//     }
//   }
// }

@media screen and (max-width: 730px) {
  .title.first {
    // display: none;
  }
}

@media screen and (max-width: 556px) {
  .mainLanding {
    .title.small {
      padding-bottom: 15px;

      // h2 {
      //   font-size: 1.3rem;
      // }
    }
  }
}
