.products {
  .width {
    max-width: 1300px;
    width: 100%;
    padding: 0 20px;
  }

  .title {
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 1.5rem;
  }

  .test {
    background-color: blue;
    display: flex;
  }

  .productsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid $colorLightGrey;

    .buttons {
      display: flex;
      cursor: pointer;

      .active i {
        color: $colorOrange;
      }

      i {
        transition: all 0.2s;
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        color: rgb(217, 217, 217);
        width: 40px;

        &:hover {
          color: $colorOrange;
        }
      }
    }
  }

  .productsMain {
    display: flex;
    padding-top: 20px;
    margin-left: 250px;
    margin-top: -300px;
  }

  .productsBoard {
    display: flex;

    .productCard {
      width: 100% !important;
      background-color: red;
    }
  }
}

@media screen and (max-width: 730px) {
  .products {
    .productsMain {
      margin-left: 0;
      margin-top: 0;
    }

    .title {
      margin-bottom: 15px;
      padding-bottom: 10px;
      margin-top: 30px;
      font-size: 1.3rem;
      border-bottom: 1px solid $colorLightGrey;
    }

    .productsHeader {
      border: none;
    }

    .space {
      display: none;
    }

    .productsHeader {
      .buttons {
        display: none;
      }
    }
  }
}
