.products {
  padding-bottom: 20px;
  // background-color: rgba(21, 255, 0, 0.285);

  .width {
    max-width: 1300px;
    width: 100%;
    padding: 0 20px;
  }

  .title {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 1.6rem;
  }

  .productsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    .buttons {
      display: flex;
      cursor: pointer;

      i {
        transition: all 0.2s;
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        color: rgb(154, 154, 154);
        width: 40px;

        &:hover {
          color: $colorOrange;
        }
      }
    }
  }

  .productsMain {
    display: flex;
  }

  .productsMenu {
    width: 340px;
    // background-color: rgba(0, 0, 255, 0.301);
    height: 800px;
  }

  .productsBoard {
    width: 100%;
    height: 800px;
    // background-color: rgba(255, 228, 196, 0.315);
  }

  .productsMenu {
    padding-top: 10px;

    ul li {
      transition: all 0.2s;
      padding: 5px;
      padding-left: 10px;
      margin-top: 10px;
      cursor: pointer;

      &:hover {
        color: $colorOrange;
      }

      i {
        width: 30px;
        color: $colorBlack;
      }
    }
  }
}

@media screen and (max-width: 730px) {
  .products {
    .productsMenu {
      display: none;
    }
  }
}
