@import '../../../../variables.scss';

.mobileMenu {
  overflow: hidden;
  @include flex-center;
  height: 100%;
  display: none;

  i {
    transition: color 0.2s;
  }

  &:hover i {
    color: $colorOrange;
  }
}

.menus {
  position: absolute;
  font-weight: normal;
  z-index: 20;
  padding-bottom: 30px;
  top: 0;
  width: 100%;
  min-height: 660px;
  height: 100%;
  color: $colorWhite;
  background-color: $colorBlack;

  .main {
    padding: 20px;
  }

  .header {
    @include flex-center;
    position: relative;

    .bars {
      position: absolute;
      left: 0;
      padding-left: 20px;
      i {
        color: $colorWhite;
        font-size: 1.9rem !important;
      }
    }

    .logo a {
      color: $colorWhite;
      border-color: $colorBlack;
    }
  }

  ul {
    list-style: none;

    li {
      transition: color 0.2s;
      padding: 5px 0;
      font-size: 1.1rem;
      cursor: pointer;

      &:hover {
        color: $colorOrange;
      }
    }
  }

  i {
    margin-right: 20px;
    margin-left: 5px;
    color: $colorWhite;
  }

  .mainMenu {
    i {
      margin-left: 15px;
    }
  }

  .hr {
    border-bottom: 1px solid $colorGrey;
    margin-top: 9px;
    margin-bottom: 14px;
  }

  .svgs {
    display: flex;
    padding-top: 10px;
  }

  .svg {
    margin-right: 10px;
  }

  .phone {
    padding-top: 5px;
    font-size: 1.4rem;
  }
}

.bars {
  position: absolute;
  padding-left: 20px;
}

@media screen and (max-width: 730px) {
  .mobileMenu {
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .block {
    width: 83px;
  }
}
