@import '../../../../variables.scss';
@import '../../../../mixins.scss';

.categoriesMenu {
  overflow: auto;
  padding: 20px;
  position: absolute;
  justify-content: center;
  align-items: flex-start !important;
  top: 50px;
  left: 0;
  right: 0;
  height: Calc(100vh - 60px);
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 60%,
    rgb(0, 0, 0, 0) 100%
  );

  .categoriesMenuCont {
    max-width: 1300px;
    width: 100%;
    border-radius: 8px;
    flex-direction: column;
    align-items: flex-start;
  }

  .row {
    width: 100%;
  }

  .categoriesName {
    min-width: 320px;
    border-radius: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    .name {
      width: 100%;
      display: flex;
      justify-content: space-between;
      transition: 0.1s color;
      border-radius: 5px;
      padding: 8px 20px;
      margin-bottom: 10px;
      font-size: 0.9rem;
      cursor: pointer;

      span i {
        color: $colorGrey;
        margin-right: 10px;
        font-size: 1rem;
      }
    }

    .name.active {
      transition: all 0.1s;
      color: $colorOrange;
    }

    .name:last-child {
      margin-bottom: 0;
    }
  }

  .more {
    align-items: flex-start;
    min-height: 275.66px;
    border-radius: 8px;
    width: 100%;
    margin-left: 10px;
  }

  .sale {
    padding: 20px;
    margin-top: 40px;
    width: 100%;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.02);
    font-size: 1.1rem;

    i {
      margin-right: 5px;
    }
  }

  .moreBlock {
    display: flex;
    height: 100%;
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;

    ul {
      animation: fade 0.2s ease-in;
    }

    li {
      display: flex;
      align-items: center;
      transition: color 0.1s;
      cursor: pointer;
      list-style: none;
      height: 37.61px;
      margin-bottom: 10px;
      font-size: 0.9rem;

      &:hover {
        color: $colorOrange;
      }
    }

    li:last-child {
      margin-bottom: 0;
    }

    h6 {
      display: flex;
      align-items: center;
      font-family: Roboto Bold;
      font-size: 1.1rem;
      height: 37.61px;
      margin-bottom: 10px;
      border-bottom: 1px solid $colorLightGrey;
      width: 100%;
      animation: fade 0.2s ease-in;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1075px) {
  .categoriesMenu {
    .moreBlock {
      width: 250px;
      margin-left: 10px;

      li {
        height: 37.61px;
        margin-bottom: 10px;
        font-size: 0.9rem;
      }

      h6 {
        display: flex;
        align-items: center;
        font-family: Roboto Bold;
        font-size: 1rem;
        height: 37.61px;
        margin-bottom: 10px;
        border-bottom: 1px solid $colorLightGrey;
        width: 100%;
        animation: fade 0.2s ease-in;
      }
    }
  }
}

@media screen and (max-width: 930px) {
  .categoriesMenu {
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);

    .categoriesName {
      min-width: 280px;

      .name {
        font-size: 0.8rem;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    .moreBlock {
      width: 230px;
      margin-left: 10px;
      li {
        display: flex;
        align-items: center;
        transition: color 0.1s;
        cursor: pointer;
        list-style: none;
        height: 37.61px;
        margin-bottom: 10px;
        font-size: 0.8rem;
      }

      li:last-child {
        margin-bottom: 0;
      }

      h6 {
        display: flex;
        align-items: center;
        font-family: Roboto Bold;
        font-size: 0.9rem;
        height: 37.61px;
        margin-bottom: 10px;
        border-bottom: 1px solid $colorLightGrey;
        width: 100%;
        animation: fade 0.2s ease-in;
      }
    }
  }
}

@media screen and (max-width: 930px) {
  .more {
    flex-direction: column;
  }

  .categoriesMenu {
    .row {
      display: flex;
      align-items: flex-start;
      height: 480px;
    }

    .moreBlock {
      padding-bottom: 10px;
      margin-left: 30px;
    }

    .sale {
      margin-top: 10px;
    }
  }
}
