@import '../../../../variables.scss';
@import '../../../../mixins.scss';

.search {
  @include flex-center;
  position: relative;
  background: linear-gradient(90deg, $colorPrimary 0%, $colorOrange 100%);
  height: 36px;
  width: 375px;
  border-radius: 8px;

  input {
    width: 321px;
    height: 32px;
    outline: none;
    border: none;
    padding: 5px 10px;
    padding-left: 15px;
    border-radius: 6px;
  }

  .searchResults {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 40px;
    height: auto;
    width: 100%;
    background-color: $colorWhite;
    box-shadow: 0 2px 5px 0 $colorLightGrey;
    border-radius: 7px;
    color: $colorBlack;
    padding: 10px;
    padding-bottom: 0;

    .item {
      background-color: rgba(0, 0, 0, 0.05);
      width: 100%;
      padding: 40px 0;
      margin-bottom: 10px;
      border-radius: 5px;
    }
  }

  .iconButton {
    width: 50px;

    i {
      color: $colorWhite;
      font-size: 1.1rem;
    }
  }
}
