.productCard {
  cursor: pointer;
  padding: 10px;
  width: 250px;
  width: 100%;

  border-radius: 10px;

  .img {
    width: 100%;
    height: 200px;
  }

  img {
    margin: auto;
    width: 70%;
    border-radius: 7px;
  }

  .name {
    font-size: 0.9rem;
    padding: 10px;
  }

  .buy {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .price {
      display: flex;
      align-items: center;
    }

    .buyButton {
      button {
        width: 130px;
        border-radius: 20px;
        height: 35px;
      }
    }
  }
}
