.productCard,
.productCardMobile {
  cursor: pointer;
  padding: 10px;
  width: 250px;
  width: 100%;

  border-radius: 10px;

  // .img {
  //   width: 100%;
  //   height: 200px;
  // }

  .image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 70%;
    border-radius: 7px;
    margin-right: 10px;
  }

  .name {
    font-size: 0.9rem;
    padding-bottom: 10px;
  }

  .description {
    font-size: 0.8rem;
    opacity: 0.9;
  }

  .buy {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-right: 10px;

    .price {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
    }

    .buyButton {
      button {
        width: 130px;
        border-radius: 20px;
        height: 35px;
      }
    }
  }
}

.productCardMobile {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;

  img {
    width: 100px;
    height: 100px;
  }

  .image {
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }

  .flex {
    display: flex;
  }

  .buy {
    padding-top: 0px;
    padding-right: 0px;
  }

  .price {
    padding-left: 110px;
  }
}

@media screen and (max-width: 804px) {
  .productCardMobile {
    img {
      margin: 0;
    }

    .buy {
      padding-top: 5px;
    }
  }
}

@media screen and (max-width: 556px) {
  .productCard {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;

    img {
      width: 100px;
      height: 100px;
    }

    .image {
      min-width: 100px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }

    .flex {
      display: flex;
    }

    .buy {
      padding-top: 5px;
      padding-right: 0px;
    }

    .price {
      padding-left: 110px;
    }
  }
}

@media screen and (max-width: 376px) {
  .productCard,
  .productCardMobile {
    .buy {
      .buyButton {
        button {
          height: 30px;
          padding-top: 0;
          padding-bottom: 0;
          width: 120px;
        }
      }
    }
  }
}

@media screen and (max-width: 374px) {
  .productCard,
  .productCardMobile {
    .price {
      padding-left: 20px;
    }
  }
}
