@import '../variables.scss';
@import '../mixins.scss';

.loginFrom {
  @include flex-center;
  border-radius: $borderRadius;
  flex-direction: column;
  width: 100%;

  h1 {
    border-bottom: 1px solid $colorLightGrey;
    width: 100%;
    padding-bottom: 10px;
    font-size: 2rem;
  }

  .inputsBlock {
    width: 100%;

    .InputContainer {
      i {
        top: 31px;
      }
    }
  }

  .input {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .links {
    font-size: 0.9rem;
    margin-top: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .checkbox {
      label {
        @include flex-center;
        cursor: pointer;
      }

      input {
        margin-right: 5px;
      }
    }
  }

  .reg {
    height: 30px;
  }

  .register {
    border-top: 1px solid $colorLightGrey;
    padding-top: 20px;
    margin-top: 40px;
    width: 100%;
    @include flex-center;
    font-size: 1.05rem;

    span {
      margin-right: 10px;
    }
  }

  button {
    width: 100%;
    margin-top: 5px;
    padding: 14px;
  }

  .InputContainer {
    margin-top: 10px;
  }
}

.loginText {
  @include flex-center;
  height: 100%;

  i {
    margin-left: 10px;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 380px) {
  .loginFrom {
    .register {
      font-size: 0.85rem;
      justify-content: space-between;
    }
    .links {
      font-size: 0.8rem !important;
    }
  }
}
