.again {
  width: 100%;
  @include flex-center;
  flex-direction: column;

  h3 {
    padding-bottom: 5px;
    font-size: 1.2rem;
  }

  ul {
    width: 280px;
  }

  li {
    display: flex;
    align-items: center;
    padding-top: 20px;
    list-style: none;
    font-size: 1.1rem;

    i {
      color: $colorPrimary;
      margin-right: 20px;
    }
  }
}

.linkAgain {
  color: $colorLightPrimary;
  border-bottom: 1px solid $colorLightPrimary;
  cursor: pointer;

  &:hover {
    border-bottom: none;
  }
}
