@import '../../mixins.scss';
@import '../../variables.scss';

.confirm {
  padding: 40px;
  margin-top: -200px;
  border-radius: 10px;
  color: $colorBlack;
  background-color: $colorWhite;

  .buttons {
    padding-top: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
      width: 140px;
      height: 40px;
    }

    button:first-child {
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: 400px) {
  .confirm {
    border-radius: 0;
    padding: 20px;
    width: 100%;
  }
}
