@import '../../variables.scss';
@import '../../mixins.scss';

.mobileMenuModal {
  position: absolute;
  width: 100%;
  background-color: $colorWhite;
  min-height: 660px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 21;
  color: red;

  .header {
    width: 100%;
    @include flex-center;
  }

  .bars {
    left: 0;
  }
}
