@import '../../variables.scss';
@import '../../mixins.scss';

.mobileMenuModal {
  position: absolute;
  width: 100%;
  background-color: $colorWhite;
  min-height: 660px;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 21;
  color: $colorBlack;

  .header {
    width: 100%;
    @include flex-center;
  }

  i {
    color: $colorBlack;
  }
}
