.cartTableItem {
  position: relative;
  display: flex;
  margin-bottom: 20px;
  padding: 0 5px;
  border-radius: 7px;
  font-size: 0.9rem;
  .img,
  .title,
  .price,
  .count,
  .sum {
    @include flex-center;
    justify-content: flex-start;
  }

  .delete {
    transition: all 0.2s;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.2rem;
    cursor: pointer;
    color: rgb(64, 64, 64);

    &:hover {
      color: $colorOrange;
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 500px;
    font-size: 1rem;
    align-items: flex-start;

    .name {
      margin-bottom: 10px;
      font-size: 1rem;
    }

    .description {
      font-size: 0.8rem;
      padding-right: 20px;
    }

    .params {
      margin-top: 10px;
      font-size: 0.8rem;

      li {
        margin-top: 5px;
      }
    }
  }

  .group {
    display: flex;
    // width: 650px;
  }

  .price {
    width: 200px;
  }

  .count {
    width: 200px;
  }

  .sum {
    width: 200px;
    border: none;
  }

  .imges {
    height: 100px;
    min-width: 100px;
    margin-right: 50px;

    img {
      height: 100%;
    }
  }

  .mobile {
    display: none;
  }

  .itemMobile {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .cartTableItem {
    display: flex;
    flex-direction: column;

    .price,
    .count,
    .sum {
      display: none;
    }

    .title,
    .imges {
      display: none;
    }

    .itemMobile {
      display: flex;

      .title,
      .imges {
        display: block;
      }

      .name {
        font-size: 0.85rem;
      }
    }

    .mobile {
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      width: 100%;

      .price,
      .count,
      .sum {
        display: block;
        width: auto;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .cartTableItem {
    .imges {
      margin-right: 10px;
    }
  }
}
