.cartTable {
  .tableHead,
  .tableFooter {
    display: flex;
    padding: 0 5px;
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
    font-size: 0.9rem;

    .img,
    .title,
    .price,
    .count,
    .sum {
      @include flex-center;
      justify-content: flex-start;
    }

    .img {
      min-width: 100px;
      margin-right: 50px;
    }

    .title {
      margin: 0;
      width: 500px;
      font-size: 1rem;
    }

    .price {
      width: 200px;
    }

    .count {
      width: 200px;
    }

    .sum {
      width: 200px;
      border: none;
    }
  }

  .tableFooter {
    border: 1px solid $colorLightGrey;
    margin-bottom: 0px;
  }

  .tableFooter:last-child {
    border: none;

    .count {
      font-size: 1.1rem;
    }

    .sum {
      font-size: 1.1rem;
    }
  }

  .tableHead {
    border: 1px solid $colorLightGrey;
  }
}

@media screen and (max-width: 640px) {
  .cartTable {
    .tableHead {
      display: none;
    }

    .tableFooter {
      .img,
      .price {
        display: none;
      }

      justify-content: space-between;

      .title {
        width: 0;
      }

      .count,
      .sum {
        justify-content: flex-end;
      }

      .count {
        margin-right: -30px;
      }

      .sum {
        padding-right: 20px;
      }
    }

    .tableFooter:last-child {
      .count {
        margin-right: 0px;
      }

      .sum {
        padding-right: 0px;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .cartTable {
    .tableHead,
    .tableFooter {
      padding: 0;

      .img {
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .cart {
    .title {
      margin-top: 20px;
      font-size: 1.6rem;
    }
  }
}
