@import '../../mixins.scss';
@import '../../variables.scss';

.parent {
  width: 100%;
  @include flex-center;
}

.width {
  @include max-width;
}

.logo {
  @include flex-center;

  .mobileMenu {
    height: 100%;
    width: 60px;
    @include flex-center;
    display: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: $headerHeight;
}

.main {
  height: Calc(100vh - $headerHeight);
}

@media screen and (max-width: 500px) {
  .logo {
    .mobileMenu {
      display: flex;
    }
  }

  .menu {
    display: none;
  }
}
