@import '../../mixins.scss';
@import '../../variables.scss';

.parent {
  @include flex-center;
  width: 100%;
  background-color: $colorWhite;
}

.width {
  @include max-width;
}

.logo {
  @include flex-center;
  width: 141.41px;

  img {
    height: 40px;
  }

  .logoLink {
    color: $colorBlack;
    border-bottom: 1px solid white;
    font-size: 1.1rem;

    &:hover {
      color: $colorBlack;
      border-bottom: 1px solid $colorWhite;
    }
  }
}

.user {
  width: 268.11px;
  display: flex;
  align-items: center;

  .navLink {
    padding-right: 0px;
  }
}

.menu {
  width: 375.58px;
}

.mobileMenu {
  height: 100%;
  @include flex-center;
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: $headerHeight;
}

.main {
  height: Calc(100vh - $headerHeight);
}

@media screen and (max-width: 860px) {
  .user {
    width: 143.9px;
  }
}

@media screen and (max-width: 730px) {
  .header {
    height: 60px;
  }

  .mobileMenu {
    display: flex;
  }

  .user {
    width: auto;
  }

  .menu {
    display: none;
  }

  .parent.mobile {
    background-color: $colorWhite;
    position: sticky;
    top: 0;
    box-shadow: $boxShadow;
    z-index: 10;
  }
}
