@import '../../mixins.scss';
@import '../../variables.scss';

.parent {
  @include flex-center;
  width: 100%;
  background-color: $colorWhite;
}

.width {
  @include max-width;
}

.logo {
  @include flex-center;
}

.user {
  display: flex;
  align-items: center;
}

.mobileMenu {
  height: 100%;
  @include flex-center;
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: $headerHeight;
}

.main {
  height: Calc(100vh - $headerHeight);
}

@media screen and (max-width: 730px) {
  .mobileMenu {
    display: flex;
  }

  .menu {
    display: none;
  }

  .parent.mobile {
    background-color: $colorWhite;
    position: sticky;
    top: 0;
    box-shadow: $boxShadow;
    z-index: 10;
  }
}
