@import '../../variables.scss';
@import '../../mixins.scss';

.phoneAdaptive {
  cursor: pointer;
  @include flex-center;
  flex-direction: column;
  margin-right: 20px;
  height: 100%;
  width: 172px;

  &:hover .phoneIcon i {
    color: $colorOrange;
  }

  .phoneIcon {
    margin-bottom: -2px;
    display: none;

    i {
      font-size: 1.4rem;
    }
  }

  .phoneNumber {
    height: 100%;
    display: flex;
    align-items: flex-end;
    font-size: 0.9rem;
  }

  .messagers {
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;

    div {
      padding: 0;
      margin: 0;
    }

    i {
      font-size: 1.4rem;
      margin: 0px 4px;
    }

    i:hover {
      color: $colorPrimary;
    }
  }
}

@media screen and (max-width: 860px) {
  .phoneAdaptive {
    width: 100%;

    .phoneNumber,
    .messagers {
      display: none;
    }

    .phoneIcon {
      display: block;
    }
  }
}

@media screen and (max-width: 500px) {
  .phoneAdaptive {
    margin-right: 30px;
  }
}

@media screen and (max-width: 400px) {
  .phoneAdaptive {
    margin-right: 20px;
  }
}
