@import '../../variables.scss';
@import '../../mixins.scss';

.phoneAdaptive {
  cursor: pointer;
  @include flex-center;
  flex-direction: column;
  margin-right: 20px;
  height: 100%;
  width: 172px;

  &:hover .phoneIcon i {
    color: $colorOrange;
  }

  .phoneIcon {
    margin-bottom: -2px;
    display: none;

    i {
      font-size: 1.4rem;
    }
  }

  .phoneNumber {
    height: 100%;
    display: flex;
    align-items: flex-end;
    font-size: 0.9rem;
  }

  .messagers {
    display: flex;
    padding-bottom: 7px;
    padding-top: 0px;

    div {
      padding: 0;
      margin: 0;
    }

    .socialImgs {
      padding: 0 3px;
      height: 30px;

      img {
        transition: 0.2s transform;
      }

      img:hover {
        transform: rotateZ(5deg);
      }
    }

    i:hover {
      color: $colorOrange;
    }
  }
}

@media screen and (max-width: 860px) {
  .phoneAdaptive {
    width: 100%;
    margin-right: 50px;

    .phoneNumber,
    .messagers {
      display: none;
    }

    .phoneIcon {
      display: block;
    }
  }
}

@media screen and (max-width: 500px) {
  .phoneAdaptive {
    margin-right: 30px;
  }

  .phoneIcon {
    padding-left: 0px;
  }

  .header i {
    font-size: 1.3rem !important;
  }
}

@media screen and (max-width: 380px) {
  .phoneAdaptive {
    margin-right: 15px;
  }
}
