@import '../../mixins.scss';
@import '../../variables.scss';

.userContainer {
  @include flex-center;
  transition: color 0.3s;
  height: 100%;
  cursor: pointer;

  i {
    margin-left: 7px;
    font-size: 1.7rem;
  }

  &:hover {
    color: $colorOrange;
  }

  a {
    padding: 0;
  }
}

@media screen and (max-width: 660px) {
  .userContainer {
    .text {
      display: none;
    }
  }
}
