@import '../../mixins.scss';
@import '../../variables.scss';

.userContainer {
  @include flex-center;
  height: 100%;
  cursor: pointer;

  i {
    transition: color 0.3s;
    font-size: 1.7rem;
  }

  .text {
    margin-right: 10px;
    transition: color 0.3s;
  }

  &:hover i,
  &:hover .text {
    color: $colorOrange;
  }

  a {
    padding: 0;
  }
}

@media screen and (max-width: 730px) {
  .userContainer {
    .text {
      display: none;
    }
  }
}
