@import '../../../variables.scss';

.link {
  transition: all 0.2s;
  display: flex;
  padding: 1px;
  cursor: pointer;
  color: $colorPrimary;
  padding-bottom: 3px;
  line-height: 10px;
  border-bottom: 1px solid $colorNone;

  &:hover {
    color: $colorLightPrimary;
    border-bottom: 1px solid $colorLightPrimary;
  }
}
