@import '../../../variables.scss';
@import '../../../mixins.scss';

.navLink {
  @include flex-center;
  font-weight: bold;
  transition: all 0.3s;
  padding: 10px;
  color: $colorBlack;

  &:hover {
    color: $colorOrange;
  }
}

.navLink.active {
  color: $colorOrange;

  &:hover {
    color: $colorOrange;
  }
}
