@import '../../../variables.scss';

.InputContainer {
  position: relative;
  width: 100%;
  padding-top: 14px;
  margin-top: 5px;

  i {
    position: absolute;
    top: 34px;
    left: 17px;
    color: $colorGrey;
  }
}

.error {
  position: absolute;
  background-color: #fff;
  color: $colorRed;
  top: 0px;
  left: 7px;
  font-size: 0.87rem;
  padding: 0 6px;
}

.input {
  width: 100%;
  padding: 16px;
  padding-left: 48px;
  background-color: $colorWhite;
  border: none;
  border-radius: 5px;
  border: 1px solid $colorLightGrey;
  outline: none;
  font-size: 1rem;

  &:focus {
    border-color: $colorPrimary;
  }
}
