@import '../../../variables.scss';
@import '../../../mixins.scss';

.categories {
  margin-top: 7px;
  width: 143px;
  height: 36px;
  display: flex;

  button {
    width: 100%;
    font-size: 0.9rem;
  }

  span {
    @include flex-center;
  }

  i {
    font-size: 1.2rem;
    margin-left: 10px;
  }
}
