@import '../../../variables.scss';
@import '../../../mixins.scss';

.sticky {
  display: block;
  position: relative;
  border-bottom: 1px solid $colorWhite;

  div {
    display: flex;
    align-items: center;
  }

  @include flex-center;
  position: sticky;
  z-index: 20;
  top: 0;
  height: $headerStickyMenu;
  background-color: $colorWhite;

  .logo {
    .logoContainer {
      width: 60px;
      height: 60px;
      justify-content: flex-start;
    }
  }
}

.shadow {
  height: 61px;
  // box-shadow: $boxShadow;
  border-bottom: 1px solid $colorLightGrey;
}

.stickyMenu {
  width: 100%;
  height: $headerStickyMenu;
  display: flex;
  justify-content: space-between;
}

.cartBlock {
  width: 268.11px;
}

.categoriesBlock {
  width: 141.41px;
}

.searchBlock {
  width: 375.58px;
}

@media screen and (max-width: 860px) {
  .cartBlock {
    width: 143.9px;
  }
}

@media screen and (max-width: 730px) {
  .sticky {
    display: none;
    color: red;
  }
}
