@import '../../../variables.scss';
@import '../../../mixins.scss';

.sticky {
  div {
    display: flex;
    align-items: center;
  }

  @include flex-center;
  position: sticky;
  z-index: 10;
  top: 0;
  height: $headerStickyMenu;
  background-color: $colorWhite;
}

.shadow {
  height: 61px;
  box-shadow: $boxShadow;
  border-bottom: 1px solid $colorLightGrey;
}

.stickyMenu {
  width: 100%;
  height: $headerStickyMenu;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 730px) {
  .sticky {
    display: none;
  }
}
