@import '../../../variables.scss';
@import '../../../mixins.scss';

.sticky {
  @include flex-center;
  position: sticky;
  top: 0;
  height: $headerStickyMenu;
  background-color: $colorWhite;
}

.stickyMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 730px) {
  .sticky {
    display: none;
  }
}
