@import '../../../variables.scss';

.contacts {
  max-width: 200px;
  width: 100%;

  .messengers {
    display: flex;
    justify-content: space-around;
  }

  .phoneNumber,
  .email {
    padding-top: 10px;
    text-align: right;
  }

  .phoneNumber {
    a {
      color: $colorWhite;
      font-size: 1.35rem;
    }
  }
}

@media screen and (max-width: 860px) {
  .contacts {
    padding-bottom: 25px;

    .messengers {
      padding-right: 35px;
      justify-content: space-between;
    }

    .phoneNumber,
    .email {
      padding-top: 10px;
      text-align: left;
    }
  }
}
