@import '../../../variables.scss';
@import '../../../mixins.scss';

.footer {
  @include flex-center;
  flex-direction: column;
  color: $colorWhite;
  background-color: $colorBlack;
  padding-bottom: 30px;
  margin-top: 30px;

  .menuLinks {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $colorGrey;
    margin-bottom: 30px;
    padding-bottom: 20px;
  }

  .width.padding {
    padding-top: 40px;
  }
}
