.footerMenuList {
  margin-bottom: 20px;
  min-width: 250px;

  .title {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1040px) {
  .footerMenuList {
    min-width: auto;
  }
}

@media screen and (max-width: 860px) {
  .footerMenuList {
    padding-bottom: 15px;
  }
}
