@import '../../../variables.scss';
@import '../../../mixins.scss';

.footer {
  @include flex-center;
  flex-direction: column;
  color: $colorWhite;
  background-color: $colorBlack;
  padding-bottom: 20px;
  margin-top: 20px;

  .menuLinks {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $colorLight;
    margin-bottom: 20px;
  }

  .width {
    max-width: 1300px;
    width: 100%;
  }

  .socilaMedia {
    ul {
      display: flex;
      justify-content: space-between;
      max-width: 200px;
      width: 200px;
    }
  }

  .width.padding {
    padding-top: 30px;
  }
}
