.modal-enter-active {
  animation: show-modal 0.2s forwards;
}

.modal-exit-active {
  animation: show-modal 0.2s reverse forwards;
}

@keyframes show-modal {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.validError-enter-active {
  animation: show-validError 0.1s forwards;
}

.validError-exit-active {
  animation: show-validError 0.1s reverse forwards;
}

@keyframes show-validError {
  0% {
    opacity: 0;
    transform: translateY(-4px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.logo-enter-active {
  animation: showLogo 0.2s forwards;
}

.logo-exit-active {
  display: none !important;
}

@keyframes showLogo {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.logorev-enter-active {
  animation: showLogoRev 0.15s ease-out;
}

.logorev-exit-active {
  animation: showLogoRev 0.15s reverse ease-out;
}

@keyframes showLogoRev {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(60px);
  }
}

.categories-enter-active {
  animation: simpleShow 0.2s reverse;
}

.categories-exit-active {
  display: none !important;
}

@keyframes simpleShow {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.rotation {
  animation: rotation 0.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
