.modal-enter-active {
  animation: show-modal 0.2s forwards;
}

.modal-exit-active {
  animation: show-modal 0.2s reverse forwards;
}

.ctgr-enter-active {
  animation: showCategories 0.15s forwards;
}

.ctgr-exit-active {
  animation: showCategories 0.15s reverse forwards;
}

@keyframes showCategories {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes show-modal {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.validError-enter-active {
  animation: show-validError 0.1s forwards;
}

.validError-exit-active {
  animation: show-validError 0.1s reverse forwards;
}

@keyframes show-validError {
  0% {
    opacity: 0;
    transform: translateY(-4px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.logo-enter-active {
  animation: showLogo 0.2s forwards;
}

.logo-exit-active {
  display: none !important;
}

@keyframes showLogo {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.logorev-enter-active {
  animation: showLogoRev 0.15s ease-out;
}

.logorev-exit-active {
  animation: showLogoRev 0.15s reverse ease-out;
}

@keyframes showLogoRev {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(60px);
  }
}

.categories-enter-active {
  animation: simpleShow 0.2s reverse;
}

.categories-exit-active {
  display: none !important;
}

@keyframes simpleShow {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.rotation {
  animation: rotation 0.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.mobileModal-enter-active {
  animation: translate 0.18s forwards ease-in;
}

.mobileModal-exit-active {
  animation: translate 0.18s forwards reverse ease-in-out;
}

@keyframes translate {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.leftFade-enter-active {
  animation: leftFade 0.3s forwards;
}

.leftFade-exit-active {
  animation: leftFade 0.3s forwards reverse;
}

@keyframes leftFade {
  0% {
    transform: translateX(-60px);
  }

  100% {
    transform: translateX(0);
  }
}
