@import './mixins.scss';
@import './variables.scss';
@import './fonts.scss';
@import './fontawesome/scss/fontawesome.scss';
@import './fontawesome/scss/light.scss';
@import './fontawesome/scss/regular.scss';
@import './fontawesome/scss/solid.scss';
@import './fontawesome/scss/duotone.scss';
@import './animations.scss';

html,
body {
  font-family: Roboto light, sans-serif;
  font-weight: bold;
  letter-spacing: 0.7px;
  color: $colorBlack;
  -webkit-tap-highlight-color: transparent;
}

main {
  // min-height: 100vh;
}

button {
  background-color: $colorNone;
  border: none;
  outline: none;
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $colorBlack;
}

li {
  list-style: none;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

// Стили для слайдера
$pad: calc(100% - 1260px);

#__next .swiper.images {
  padding-right: calc($pad / 2);
  padding-left: calc($pad / 2);

  .swiper-button-next,
  .swiper-button-prev {
    height: 100%;
    top: 22px;
    width: calc($pad / 2);

    i {
      transition: color 0.2s;
    }

    &:hover i {
      color: $colorOrange;
    }
  }

  .swiper-button-next {
    right: 0;

    i {
      margin-left: calc($pad / -5) px;
    }

    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 255, 255) 80%,
      rgb(255, 255, 255) 100%
    );
  }

  .swiper-button-prev {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255) 0%,
      rgba(255, 255, 255) 20%,
      rgb(255, 255, 255, 0) 100%
    );

    left: 0;

    i {
      margin-right: calc($pad / -5) px;
    }
  }
}

.swiper.categories {
  padding-right: calc($pad / 2);
  padding-left: calc(($pad / 2));
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: $colorBlack;
  opacity: 0.6;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $colorOrange;
}

@media screen and (max-width: 1300px) {
  #__next .swiper.images {
    padding: 0 20px;

    .swiper-button-next,
    .swiper-button-prev {
      width: auto;
    }

    .swiper-button-next {
      right: 50px;
      padding-right: 0px;
      background: none;

      i {
        padding-left: 3px;
      }
    }

    .swiper-button-prev {
      padding-left: 0px;
      background: none;
      left: 50px;

      i {
        padding-right: 3px;
      }
    }
  }

  .swiper.categories {
    padding: 0 20px;
    padding-right: 17px;
    margin-right: 3px;
  }
}

.swiper.products {
  .swiper-button-next {
    top: 10px;
    right: -5px;
  }

  .swiper-button-prev {
    top: 10px;
    left: -5px;
  }
}

@media screen and (max-width: 1240px) {
  #__next .swiper.images {
    .swiper-pagination {
      bottom: 0px;
    }
  }
}

@media screen and (max-width: 730px) {
  #__next .swiper.images {
    padding: 0px;

    .swiper-button-next {
      right: 20px;

      background: none;
    }

    .swiper-button-prev {
      left: 20px;
    }
  }
}

@media screen and (max-width: 556px) {
  #__next .swiper.products {
    .swiper-button-next {
      top: 10px;

      background: none;
    }

    .swiper-button-prev {
      top: 10px;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
