$colorBlack: rgb(35, 35, 35);
$colorGrey: grey;
$colorLightGrey: lightgrey;
$colorVeryLightGrey: rgb(231, 231, 231);

$colorNone: rgba(0, 0, 0, 0);

$colorRed: rgb(255, 33, 33);
$colorPrimary: rgb(47, 90, 247);
$colorLightPrimary: rgb(67, 108, 255);
$colorGreen: rgb(0, 191, 0);
$colorOrange: rgb(255, 105, 0);
$colorLightOrange: rgb(255, 118, 20);
$colorDarkOrange: rgb(236, 98, 0);
$colorDarkGreen: rgb(0, 117, 0);
$colorWhite: rgb(255, 255, 255);

$borderBottom: 1px solid $colorBlack;
$border: 1px solid $colorBlack;
$boxShadow: 0px 0px 5px $colorLightGrey;
$borderRadius: 12px;

$headerHeight: 70px;
$headerStickyMenu: 50px;
