$colorBlack: rgb(27, 27, 27);
$colorGrey: grey;
$colorLightGrey: lightgrey;
$colorVeryLightGrey: rgb(231, 231, 231);

$colorNone: rgba(0, 0, 0, 0);

$colorRed: rgb(219, 20, 20);
$colorPrimary: rgb(47, 90, 247);
$colorLightPrimary: rgb(60, 102, 252);
$colorGreen: rgb(0, 191, 0);
$colorOrange: rgb(255, 105, 0);
$colorLightOrange: rgb(255, 118, 20);
$colorDarkOrange: rgb(234, 97, 0);
$colorDarkGreen: rgb(0, 117, 0);
$colorWhite: rgb(255, 255, 255);

$borderBottom: 1px solid black;
$border: 1px solid black;
$boxShadow: 0px 0px 5px $colorLightGrey;
$borderRadius: 12px;

$headerHeight: 60px;
$headerStickyMenu: 60px;
